<footer class="mastfoot pt-4 section-secondary">
    <div class="inner">
        <p><a class="footer-links" href="/impressum">Impressum</a> | <a class="footer-links" href="/datenschutz">Datenschutzhinweise</a></p>
        <p class="small px-3">© 2022. Based on <a class="footer-links" href="https://gohugo.io">Hugo</a>, <a class="footer-links" href="https://getbootstrap.com/docs/5.1/examples/cover/">Bootstrap</a> and a helpful template by <a class="footer-links" href="https://ttntm.me/blog/store-locator-leaflet-hugo/">@ttntm</a>. <a href="" target="_blank">Login</a>.</p>
    </div>
</footer>